@page "/teachers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="teachers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="teachersList.AsQueryable()">
    <PropertyColumn Property="teachers => teachers.LastName" />
    <PropertyColumn Property="teachers => teachers.FirstName" />
    <PropertyColumn Property="teachers => teachers.MiddleName" />
    <PropertyColumn Property="teachers => teachers.DateOfBirth" />
    <PropertyColumn Property="teachers => teachers.Email" />
    <PropertyColumn Property="teachers => teachers.Phone" />
    <TemplateColumn Context="teachers" Title="Photo">
        @if (teachers.PhotoData != null && teachers.PhotoData.Length > 0)
        {
            <a href="@($"data:image/jpeg;base64,{Convert.ToBase64String(teachers.PhotoData)}")" download="@($"teacher_{teachers.Id}.jpg")">Скачать фото</a>
        }
        else
        {
            <span>Нет фото</span>
        }
    </TemplateColumn>
    <PropertyColumn Property="teachers => teachers.WorkSince" />
    <PropertyColumn Property="teachers => teachers.Rate" />

    <TemplateColumn Context="teachers">
        <a href="@($"teachers/edit?id={teachers.Id}")">Edit</a> |
        <a href="@($"teachers/details?id={teachers.Id}")">Details</a> |
        <a href="@($"teachers/delete?id={teachers.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;
    private List<Teachers> teachersList = new();

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        teachersList = context.Teachers.ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}